<!-- New entity -->
<h1>entities <button type="button" class="btn btn-outline-success">Create</button> </h1>

<!-- Table entities -->
<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">#</th>

            <th *ngFor="let description of descriptions" scope="col">{{description}}</th>
            
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let entity of entities ; index as i">
            <th scope="row">{{i+1}}</th>

            <th *ngFor="let value of entity.values">{{value}}</th>

            <th>{{entity.campos}}</th>

            <td><button type="button" class="btn btn-outline-primary">Read </button></td>
            <td><button type="button" class="btn btn-outline-warning">Update</button></td>
            <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
        </tr>
    </tbody>

</table>