<p>test-entity works!</p>

<input type="text" [(ngModel)]="entity" placeholder="entity">

<div>

    <h1>{{entity}}</h1>

    <h2>find</h2>
    <input type="button" value="find" (click)="find()">    
    <ol>
        <li *ngFor="let user of users; index as i">
            {{user.id}} --> {{user.name}}
        </li>
    </ol>

    <h2>findById</h2>
    <input type="text" [(ngModel)]="id" placeholder="id">
    <input type="button" value="findById" (click)="findById()">
    <p *ngIf=user>{{user.id}} --> {{user.name}}</p>


</div>