<div class="container">

    <!-- Alert -->
    <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosedAlert(alert)" dismissible=true>{{ alert.msg }}
        </alert>
    </div>

    <!-- New user -->
    <h1>Users
        <button type="button" class="btn btn-outline-success" (click)="showModalCrud('CREATE')">Create</button>
    </h1>

    <!-- Filter -->
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" [formControl]="filterFormControl"
            [errorStateMatcher]="matcher" placeholder="Filter">

        <mat-error *ngIf="filterFormControl.hasError('required')">
            Error
        </mat-error>

    </mat-form-field>

    <!-- List users -->
    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" matSort class="table-hover">

            <!-- # Column -->
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                <td mat-cell *matCellDef="let user; let i = index"> {{dataSource.filteredData.indexOf(user) + 1}}
                </td>
            </ng-container>

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let user"> {{user.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let user"> {{user.name}} </td>
            </ng-container>

            <!-- Read Column -->
            <ng-container matColumnDef="read">
                <th mat-header-cell *matHeaderCellDef> Read </th>
                <td mat-cell *matCellDef="let user">
                    <button type="button" class="btn btn-outline-primary"
                        (click)="showModalCrud('READ', user)">Read</button>
                </td>
            </ng-container>

            <!-- Update Column -->
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef> Update </th>
                <td mat-cell *matCellDef="let user">
                    <button type="button" class="btn btn-outline-warning"
                        (click)="showModalCrud('UPDATE', user)">Update</button>
                </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let user">
                    <button type="button" class="btn btn-outline-danger"
                        (click)="showModalCrud('DELETE', user)">Delete</button>
                </td>
            </ng-container>

            <!-- Header Table -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <!-- Paginator -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>

</div>