<div class="container">

    <!-- Alert -->
    <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosedAlert(alert)"
            dismissible=true>{{ alert.msg }}
        </alert>
    </div>

    <!-- Tags -->
    <mat-tab-group mat-align-tabs="start" #tabGroup (selectedTabChange)="onChangeTab($event)">

        <mat-tab label="List" #tabList select>
            <div class="container-mat-tab">
                <entity-product-list #list></entity-product-list>
            </div>

        </mat-tab>

        <mat-tab label="" #tabCrud disabled>
            <div class="container-mat-tab">
                <entity-product-crud #crud></entity-product-crud>
            </div>
        </mat-tab>

    </mat-tab-group>

</div>